web/cache/*
log/*
plugins/op*
plugins/.*
!plugins/opRankingPlugin
!plugins/opFavoritePlugin
!plugins/opBlogPlugin
!plugins/opInviteFriendPlugin
plugins/op*/lib/model/om/*
plugins/op*/lib/model/map/*
plugins/op*/lib/model/base/*
plugins/op*/lib/form/base/*
plugins/op*/lib/filter/base/*
cache/*
config/ProjectConfiguration.class.php
config/databases.yml
config/propel.ini
config/OpenPNE.yml
config/plugins.yml
lib/model/base/*
lib/model/map/*
lib/model/om/*
data/sql/*.*
lib/form/base/*
lib/filter/base/*
web/*Plugin
web/sf
data/config/*
web/cache/*
