body {
  background: #FFFFFF url(../images/test.png) repeat-y scroll 0 0;
}

body#security_login,
body.insecure {
  background-image: none;
}

body#security_login #body,
body.insecure #body {
  margin-top: 50px;
  padding-left: 10px;
}

#header {
  background-color: #333;
  padding: 10px;
  position: fixed;
  height: 20px;
  width: 100%;
  top: 0px;
  z-index: 10;
}

#header h1 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}

#menu {
  position: fixed;
  top: 40px;
  left: 10px;
  width: 200px;
  line-height: 150%;
  padding-top: 10px;
}
* html #header,
* html #menu {
  position: absolute;
}

#menu a {
  color: #000000;
  text-decoration: none;
}

#menu a:hover {
  color: #004A95;
}

#submenu {
  background-color: #EEEEEE;
  border-bottom: 1px solid #CCCCCC;
  height: auto;
  margin-left: -20px;
  padding-left: 10px;
}

#submenu li {
  display: inline;
  line-height: 200%;
  list-style-type: none;
  margin-left: 10px;
}

ul.contents_menu {
  margin-bottom: 15px;
}

ul.contents_menu li {
  display: inline;
  line-height: 200%;
  list-style-type: none;
}

#body {
  margin-top: 40px;
  padding-left: 230px;
}

#body h2 {
  width: 100%;
  background-color: #BDC0CE;
  position: relative;
  margin: 0 0 15px -20px;
  padding: 10px;
  font-weight: bold;
}

#body h3 {
  color: #004A95;
  font-weight: bold;
  font-size: 110%;
}

#body h4 {
  font-weight: bold;
}

h3, h4, p {
  margin-bottom: 5px;
}

table {
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: 15px;
}

th, td {
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 5px;
}

th {
  background-color: #EEEEEE;
  font-weight: bold;
}

.layoutSelection {
  margin-top: 20px;
}

.layoutSelection dl {
  float: left;
  width: 240px;
}

#versionInformation p {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1em;
  margin-bottom: 10px;
}
#versionInformation p.info {
  background-color: #CADDCA;
}
#versionInformation p.warn {
  background-color: #FF7777;
}

.flash {
  margin: 0 0 15px -20px;
  padding: 10px;
  background-color: #FFFEEB;
  border-bottom: 1px #CCCCCC solid;
  border-top: 1px #CCCCCC solid;
}
#flashError {
  color: #ff0000;
}

body#design_banner p {
  margin: 4px;
}

body#design_banner p.add_banner_image {
  text-align: right;
  padding-right: 16px;
}

body#design_banner ul.radio_list li {
  float: left;
  margin: 0 6px 0 6px;
}

body#mail_config ul.radio_list li {
  display:inline;
}

* html {
  overflow-x: hidden;
}
div.imageListTable div.cell {
  background-color: #FFFFFF;
  border: 1px solid #A3A3A6;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}
div.imageListTable div.cell dl {
  font-size:12px;
  width:150px;
}
div.imageListTable div.cell dl dt {
  padding-bottom: 5px;
  padding-left: 5px;
}
div.imageListTable div.cell dl dd {
  text-align: center;
}
div.imageListTable div.cell dl dd.upImage {
  height: 125px;
}
div.imageListTable div.cell dl dd.fileName {
  overflow: hidden;
  width: 150px;
}
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
}

dl.presetBox {
  border: 1px solid #5F6067;
  float: left;
  margin: 5px 5px 0 0;
  width: 200px;
}

dl.presetBox dt {
  background-color: #58585C;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px;
}

dl.presetBox dd {
  padding: 5px;
}

dl.colorBox {
  border: 1px solid #5F6067;
  float: left;
  margin: 5px 5px 0 0;
  width: 150px;
}

dl.colorBox dt {
  height: 2.5em;
  padding: 0 5px;
  background-color: #58585C;
  color: #FFFFFF;
  font-weight: bold;
}

dl.colorBox dd div {
  background: #D5D5D7 none repeat scroll 0 0;
  border-bottom: 1px solid #5F6067;
  border-right: 5px solid #58585C;
  font-size: 8pt;
  height: 13px;
  overflow: hidden;
  padding: 3px 5px;
  text-align: center;
  width: 90px;
}

dl.colorBox dd input {
  width: 8em;
  margin: 5px;
}

dl.colorBox dd.color {
  border-top:1px solid #5F6067;
  font-size:1px;
  height:35px;
  padding:0;
  text-align:left;
}

table.skin {
  float: left;
  margin: 5px;
}

table.skin th {
  width: 200px;
  height: 3.5em;
}

table.skin td {
  height: 220px;
  width: 200px;
  overflow: hidden;
}

table.skin td.submit {
  height: 30px;
  width: 200px;
}

.error_list {
  color: #ff0000;
}
