body {
  background: #FFFFFF url(../images/test.png) repeat-y scroll 0 0;
}

body#security_login,
body.insecure {
  background-image: none;
}

body#security_login #body,
body.insecure #body {
  margin-top: 50px;
  padding-left: 10px;
}

#header {
  background-color: #333;
  padding: 10px;
  position: fixed;
  height: 20px;
  width: 100%;
  top: 0px;
  z-index: 10;
}

#header h1 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}

#menu {
  position: fixed;
  top: 40px;
  left: 10px;
  width: 200px;
  line-height: 150%;
  padding-top: 10px;
}
* html #header,
* html #menu {
  position: absolute;
}

#menu a {
  color: #000000;
  text-decoration: none;
}

#menu a:hover {
  color: #004A95;
}

#submenu {
  background-color: #EEEEEE;
  border-bottom: 1px solid #CCCCCC;
  height: auto;
  margin-left: -20px;
  padding-left: 10px;
}

#submenu li {
  display: inline;
  line-height: 200%;
  list-style-type: none;
  margin-left: 10px;
}

ul.contents_menu {
  margin-bottom: 15px;
}

ul.contents_menu li {
  display: inline;
  line-height: 200%;
  list-style-type: none;
}

#body {
  margin-top: 40px;
  padding-left: 230px;
}

#body h2 {
  width: 100%;
  background-color: #BDC0CE;
  position: relative;
  margin: 0 0 15px -20px;
  padding: 10px;
  font-weight: bold;
}

#body h3 {
  color: #004A95;
  font-weight: bold;
  font-size: 110%;
}

#body h4 {
  font-weight: bold;
}

h3, h4, p {
  margin-bottom: 5px;
}

table {
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: 15px;
}

th, td {
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 5px;
}

th {
  background-color: #EEEEEE;
  font-weight: bold;
}

.layoutSelection {
  margin-top: 20px;
}

.layoutSelection dl {
  float: left;
  width: 240px;
}

#versionInformation p {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1em;
  margin-bottom: 10px;
}
#versionInformation p.info {
  background-color: #CADDCA;
}
#versionInformation p.warn {
  background-color: #FF7777;
}

.flash {
  margin: 0 0 15px -20px;
  padding: 10px;
  background-color: #FFFEEB;
  border-bottom: 1px #CCCCCC solid;
  border-top: 1px #CCCCCC solid;
}
#flashError {
  color: #ff0000;
}

body#design_banner p {
  margin: 4px;
}

body#design_banner p.add_banner_image {
  text-align: right;
  padding-right: 16px;
}

body#design_banner ul.radio_list li {
  float: left;
  margin: 0 6px 0 6px;
}

body#mail_config ul.radio_list li {
  display:inline;
}

* html {
  overflow-x: hidden;
}
