body {
  margin: 0 auto;
}

label {
  display: inline;
}

.label-block {
  display: block;
}

.radio_list {
  display: inline-block;
}

.radio_list li {
  list-style: none;
  margin-bottom: 5px;
}

ul.error_list {
  list-style: none;
  margin: 0px;
}

.input-prepend input[class*="span"], .input-append input[class*="span"] {
  width: auto;
}

ul > li > input[type="text"], 
ul > li > input[type="textarea"],
ul > li > input[type="password"] {
  width: 285px;
}

input[type="checkbox"], input[type="radio"] {
  width: auto!important;
  border: 1px solid #ccc;
}

.input-prepend .add-on, .input-append .add-on {
  padding: 0;
}

.realtime-searchbox {
  padding: 0px; width: 300px;
}

.form-horizontal .control-group > label {
  float: none;
  width: auto;
  padding-top: 0;
  text-align: left;
}

.form-horizontal .controls {
  margin-left: 0;
}
.form-horizontal .control-list {
  padding-top: 0;
}

.form-horizontal .form-actions {
  padding-left: 10px;
  padding-right: 10px;
}

.modal {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  width: auto;
  margin: 0;
}

.modal.fade.in {
  top: auto;
}
.modal-header .close {
  padding: 10px;
  margin: -10px;
}

.carousel-caption {
  position: static;
}

#slot_face .row {
  padding: 0 0 0 4px;
}
#slot_face a {
  font-size: 14px;
}
#slot_face > .row {
  height: 52px;
  background: #eee;
  padding: 4px 0 0 0;
}
#face .face-name {
  font-size: 20px;
  margin: 4px 0;
}

.postform, .ncform, .menuform {
  background: #555;
}
.white{
  color:#fff;
}

.ncform, .menuform {
  padding-top: 4px;
  padding-bottom: 8px;
  border-bottom: 6px solid #909090;
}

.postface {
  height: 52px;
  background: #eee;
  padding: 4px 0 0 0;
}

.postform {
  padding-top: 4px;
  padding-bottom: 52px;
  border-bottom: 6px solid #909090;
}
.postform .posttextarea {
  margin: 4px 0;
}
.postform .posttextarea textarea {
  margin: 0;
}

#pushList {
  background: #ddd;
}
#pushList div.push {
  padding: 4px 0;
  border-bottom: 1px solid #999;
}
#pushList div.push_content {
  margin-left: -13px;
}

.isread {
  background: #FFF;
}

.hover {
  border-color: #aaf;
  cursor: pointer;
  background-color: #cdf;
}

#notification_center {
  position: relative;
  display: inline;
  text-align: center;
  margin: 0 10px;
}
.nc_icon1 {
  position:absolute;
  top: 2px;
  left: 24px;
  line-height: 10px;
}
.nc_icon2 {
  position:absolute;
  top: 2px;
  left: 58px;
  line-height: 10px;
}
.nc_icon3 {
  position:absolute;
  top: 2px;
  left: 90px;
  line-height: 10px;
}

.tosaka_margin, .right_margin, .left_margin, .center_margin {
  background: #555;
}

#slot_tosaka .span12 {
  height: 34px;
  background: #555;
}
#slot_tosaka div {
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.debug {
  background: #aaa;
  text-align: center;
  height: 32px;
}

.gadget_header {
  height: 20px;
  background: #333;
  color: #fff;
  text-align: center;
}

body {
  width: 320px;
}

hr.gray {
  margin: 0;
  height: 0;
  border-color: #999;
}
hr.toumei {
  margin: 0;
  height: 4px;
  border-color: transparent;
}
hr.toumei2 {
  margin: 0;
  height: 2px;
  border-color: transparent;
}
hr.toumei100 {
  margin: 0;
  height: 100px;
  border-color: transparent;
}
hr.white2 {
  margin: 0;
  height: 2px;
  border-bottom: 0;
  background: #fff;
  opacity: 0.5;
}

.menu-margin {
  background: #555;
  height: 12px;
  margin-top: 0;
}
.menu-top {
  color: #fff;
  background: #555;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.menu-middle {
  margin-top: 4px;
}
.menu-middle > div {
  color: #fff;
  background: #555;
}
.menu-middle .btn {
  margin-right: 1px;
  margin-bottom: 6px;
}
.menu-bottom {
  background: #555;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.rad4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.rad6 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.rad10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.font11 {
  font-size: 11px;
  line-height: 13px;
}
.font10 {
  font-size: 10px;
  line-height: 12px;
}
.font14 {
  font-size: 14px;
  line-height: 16px;
}
.font20 {
  font-size: 20px;
  line-height: 24px;
}

.row_memberimg {
  height: 57px;
}
.row_membername {
  height: 30px;
  line-height: 12px;
}

.marginl0 {
  margin-left: 0px!important;
}

input.btn320[type="submit"] {
  width: 320px;
}

* {
  word-break: break-all;
}

.partsHeading h3 {
  height: 20px;
  background: #333;
  color: #fff;
  text-align: center;

  width: 320px;
}

.row_profile * {
  text-align: left;
}

.timeline * {
  text-align: left;
}

.comment * {
  background: #ddd;
  text-align: left;
}

#smt-switch {
  border-top: 1px solid #ccc;
  padding: 8px 0;
  margin-top: 20px;
  text-align: center;
}
#smt-switch .btn {
  padding-top: 4px;
  padding-bottom: 5px;
}

/*----------------------------------------------
 * Override bootstrap.css rules
 *--------------------------------------------*/
label {
  width: auto !important;
}

table {
  margin-bottom: 6px !important;
}

table td {
  padding: 0 !important;
}

table th {
  padding: 9px 0 0 0 !important;
}

table td {
  border-top: none !important;
}

.navbar .brand
{
  padding: 4px 20px 8px;
}

/*----------------------------------------------
 * define tosaka style
 *---------------------------------------------*/
.container {
  width: auto;
}

.row-fluid {
  width: 100%;
}
.row {
  margin-left: 0;
}

.row > [class*="span"],
.row-fluid > [class*="span"] {
  margin: 0;
}

.input-prepend input[class*="span"],
.input-append input[class*="span"] {
  width: auto;
}

.navbar-fixed-top {
  position: static;
  margin-bottom: 8px;
}

.navbar-fixed-top .navbar-inner {
    padding: 5px;
}

.navbar .brand {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 0 0 -5px;
  min-width: 90px;
  max-width: 100px;
  overflow: hidden;
  text-align: center;
}

.navbar .nav-collapse {
  clear: left;
}

.navbar .nav {
  float: none;
  margin: 0 0 9px;
}

.navbar .nav > li {
  border-bottom: 1px #000000 solid;
  float: none;
}

.navbar .nav > .divider-vertical {
  display: none;
}

.navbar .nav .nav-header {
  color: #999999;
  text-shadow: none;
}

.navbar .nav > li > a,
.navbar .dropdown-menu a {
  padding: 9px 15px;
  font-weight: bold;
  color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.navbar .nav > li > a:hover,
.navbar .dropdown-menu a:hover {
  background-color: #222222;
}

.navbar .dropdown-menu {
  position: static;
  top: auto;
  left: auto;
  float: none;
  display: block;
  max-width: none;
  margin: 0 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .dropdown-menu:before,
.navbar .dropdown-menu:after {
  display: none;
}

.navbar .dropdown-menu .divider {
  display: none;
}

.navbar-form,
.navbar-search {
  float: none;
  padding: 9px 15px;
  margin: 9px 0;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar .nav.pull-right {
  float: none;
  margin-left: 0;
}

.navbar-static .navbar-inner {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-navbar {
  display: block;
}

.nav-collapse {
  overflow: hidden;
  height: 0;
}

.container .right {
  float: right;
}

