#slot_face .row {
  padding: 0 0 0 4px;
}
#slot_face a {
  font-size: 14px;
}
#slot_face > .row {
  height: 52px;
  background: #eee;
  padding: 4px 0 0 0;
}
#face .face-name {
  font-size: 20px;
  margin: 4px 0;
}

.postform, .ncform, .menuform {
  background: #555;
}
.white{
  color:#fff;
}

.ncform, .menuform {
  padding-top: 4px;
  padding-bottom: 8px;
  border-bottom: 6px solid #909090;
}

.postface {
  height: 52px;
  background: #eee;
  padding: 4px 0 0 0;
}

.postform {
  padding-top: 4px;
  padding-bottom: 52px;
  border-bottom: 6px solid #909090;
}
.postform .posttextarea {
  margin: 4px 0;
}
.postform .posttextarea textarea {
  margin: 0;
}

.tosaka_margin, .right_margin, .left_margin, .center_margin {
  background: #555;
}

#slot_tosaka .span12 {
  height: 34px;
  background: #555;
}
#slot_tosaka div {
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.debug {
  background: #aaa;
  text-align: center;
  height: 32px;
}

.gadget_header {
  height: 20px;
  background: #333;
  color: #fff;
  text-align: center;
}

body {
  width: 320px;
}

hr.toumei {
  margin: 0;
  height: 4px;
  border-color: transparent;
}
hr.toumei2 {
  margin: 0;
  height: 2px;
  border-color: transparent;
}
hr.toumei100 {
  margin: 0;
  height: 100px;
  border-color: transparent;
}
hr.white2 {
  margin: 0;
  height: 2px;
  border-bottom: 0;
  background: #fff;
  opacity: 0.5;
}

.menu-margin {
  background: #555;
  height: 12px;
  margin-top: 0;
}
.menu-top {
  color: #fff;
  background: #555;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.menu-middle {
  margin-top: 4px;
}
.menu-middle > div {
  color: #fff;
  background: #555;
}
.menu-middle .btn {
  margin-right: 1px;
  margin-bottom: 6px;
}
.menu-bottom {
  background: #555;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.rad4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.rad6 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.rad10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.font11 {
  font-size: 11px;
  line-height: 13px;
}
.font10 {
  font-size: 10px;
  line-height: 12px;
}
.font14 {
  font-size: 14px;
  line-height: 16px;
}
.font20 {
  font-size: 20px;
  line-height: 24px;
}

.row_memberimg {
  height: 57px;
}
.row_membername {
  height: 30px;
  line-height: 12px;
}

* {
  word-break: break-all;
}

.partsHeading h3 {
  height: 20px;
  background: #333;
  color: #fff;
  text-align: center;

  width: 320px;
}

.row_profile * {
  text-align: left;
}

.timeline * {
  text-align: left;
}

.comment * {
  background: #ddd;
  text-align: left;
}

/*----------------------------------------------
 * Override bootstrap.css rules
 *--------------------------------------------*/
label {
  width: auto !important;
}

table {
  margin-bottom: 6px !important;
}

table td {
  padding: 0 !important;
}

table th {
  padding: 9px 0 0 0 !important;
}

table td {
  border-top: none !important;
}
