#plotBody
{
  width: 600px;
  height: 400px;
  background-color: #eeeeee;
  padding: 5px;
}

#container
{
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

#plotTop
{
  width: 100%;
}

.layoutA #plotSideMenu
{
  width: 150px;
  margin-top: 10px;
  float: left;
}

.layoutA #plotContents
{
  width: 380px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.layoutB #plotSideMenu
{
  width: 100px;
  float: left;
}

.layoutB #plotContents
{
  width: 430px;
  margin-left: 10px;
  float: left;
}

.layoutC #plotContents
{
  width: 540px;
  float: left;
}

#plotTop div,
#plotSideMenu div,
#plotContents div,
#plotSideBannerContents div,
#plotMobileTop div,
#plotMobileContents div,
#plotMobileBottom div
{
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  text-align: center;
  border: #000000 1px solid;
  background-color: #88aaff;
  padding-top: 10px;
}

#plotTop div.emptyWidget,
#plotSideMenu div.emptyWidget,
#plotContents div.emptyWidget,
#plotSideBannerContents div.emptyWidget,
#plotMobileTop div.emptyWidget,
#plotMobileContents div.emptyWidget,
#plotMobileBottom div.emptyWidget
{
  background-color: transparent;
  border-style: dashed;
}

div.fixedWidget
{
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  text-align: center;
  border: #000000 1px solid;
  background-color: #ccc;
  padding-top: 10px;
}

.widget{
  cursor: move;
}
