######################################
# 基本設定 (Basic)
######################################

# SNS の URL
# URL of the SNS
base_url: "http://example.com"


######################################
# メール (Mail)
######################################

# SNS からのメール送信に使うドメイン
# Domain to use for sending e-mail from the SNS
mail_domain: "example.com"

# メール投稿アドレスにメンバー毎にユニークなハッシュを含める
# Contain an individual hash for an e-mail address that is used to post something to the SNS
is_mail_address_contain_hash: true

# メール投稿アドレスのハッシュの長さ
# Length of hash for an e-mail address for posting
mail_address_hash_length: 12

# SNS から送信するメールの Envelope From (Return-Path ヘッダ) に指定するアドレス
# Envelope From (Return-Path header) address for sending e-mail from the SNS
#mail_envelope_from: "return@example.com"

# SNS から SMTP 経由でメールを送信する場合の SMTP サーバのホスト名
# Hostname of the SMTP server for sending e-mail via SMTP
#mail_smtp_host: "smtp.example.com"

# SNS から SMTP 経由でメールを送信する場合の SMTP の設定
# Config of the SMTP for sending e-mail via SMTP
#mail_smtp_config:
#  auth:     "login"
#  username: "myusername"
#  password: "password"
#  ssl:      "tls"
#  port:     587

# メールテンプレートに機能制限をおこなうかどうか
# Add restriction to mail templates
is_restrict_mail_template: true

######################################
# セッション (Session)
######################################

# セッションストレージ設定
# Configure Session storage
session_storage:
  name: "file"
  options:


######################################
# プロキシ (Proxy)
######################################

# インターネット接続に使用するプロキシ (ホスト名:ポート番号)
# Proxy to access the Internet (hostname:port)
http_proxy: ""

####################################
# 言語設定
####################################

# 対応言語
supported_languages: ['en', 'ja_JP']

